{% extends "files/templates/base.html" %}

{% block  pre_content %}
    {{ super() }}
<div class="navbar">
    <div class="navbar-inner">        
           <ul class="nav">
              {% for nav_item in nav_items %}
               <li
               {% if nav_item.isActive %}
                   class="active"
               {% else %}
                    class=""
               {% endif %}
               >
                  <a href="{{ nav_item.url |e }}" >{{ nav_item.name |e }}</a>
               </li>
              {% endfor %}
           </ul>
    </div>
</div>
{% endblock %}